In [1]:
import pandas as pd
import numpy as np

In [2]:
sudoku = pd.read_csv('sudoku.csv')

In [3]:
sudoku.head()

,puzzle,solution
0,0700000430400096108006349000940520003584600200...,6795182435437296188216349577943521863584617292...
1,3010865040465210705000000014008000020803479000...,3719865248465213795924738614638197522853479167...
2,0483015603600080909106700030200009355090102006...,7483915623652487919126754834217869355894132766...
3,0083170000042051090000400703271609049014500000...,2983176457642851391539462783271689549814537266...
4,0408906300001368208007405190004670524500207002...,1428956379751368248367425193984671524513287962...

In [4]:
def countZero(string):
    counter = 0
    for s in string:
        if s == '0':
            counter += 1
    return counter

In [5]:
def difficulty(numOfZeros):
    if numOfZeros > 55:
        return 'hard'
    elif numOfZeros> 45 and numOfZeros<55:
        return 'intermediate'
    elif numOfZeros>30 and numOfZeros< 40:
        return 'easy'
    return

In [6]:
sudoku['numOfZeros'] = sudoku['puzzle'].apply(countZero)
sudoku['difficulty'] = sudoku['numOfZeros'].apply(difficulty)

In [10]:
hard = sudoku[sudoku['difficulty'] == 'hard'].copy()

In [11]:
intermediate = sudoku[sudoku['difficulty'] == 'intermediate'].sample(10000).copy()

In [12]:
easy = sudoku[sudoku['difficulty'] == 'easy'].sample(10000).copy()

In [15]:
def to_csv(df, name):
    df['puzzle'].to_csv(name + '.csv', header=False, index=False)
    df['solution'].to_csv(name + '.csv', header=False, index=False)

,puzzle,solution,numOfZeros,difficulty
4145433,0240751007902308463186090208000003000321876045...,6248751937952318463186497258415963729321876545...,32,easy
4516933,0002000101250900700087012305009120470005368919...,3672854191254936784987612355869123477425368919...,34,easy
4763217,0069007508002631041940700300100320075034072107...,2369147588572631941948756324196325875834972167...,34,easy
2673759,0210060578079000016350108000890030000005010000...,9218364578479253616357148295896731424725819363...,39,easy
6503162,8000007093059014064906851025002680976090070450...,8164237593259714864976851325412683976891372452...,39,easy
...,...,...,...,...
4055038,3057041926201507801402003050089704260000000370...,3857641926291537841472983655389714269168425372...,37,easy
5769618,0040007008250076000002800307495000000317009605...,3149567828253176949762845317495632182317489655...,38,easy
4153591,2534000900093100008412950070309008505006049030...,2534671987693182458412953676379218545286749139...,38,easy
8712504,8070206090001600076050780132708945014507160001...,8174236599341658276259784132738945614597163821...,35,easy
833558,6400070302500080009013062080856349214090000531...,6489271352531487699713562487856349214297816531...,38,easy