In [1]:
import pandas as pd
import numpy as np

In [4]:
puzzle = pd.read_csv('puzzle.csv', header = None)

In [11]:
def countZero(string):
    counter = 0
    for s in string:
        if s == '0':
            counter += 1
    return counter

In [12]:
puzzle['numOfZeros'] = puzzle[0].apply(countZero)

In [20]:
puzzle[puzzle['numOfZeros'] > 47]

                                                     0  numOfZeros
3    4972000001004000050000160986203000403009000000...          48
4    0059103080094030600275001000300002010008200070...          49
5    1000050073809000006000004808200010750407600200...          48
9    0607209080840030017001000659000080000710600000...          48
15   0057103290003628000040000001000009800839002500...          48
..                                                 ...         ...
991  0000040094000900850683000208000602005200007010...          48
995  0400502000024709050190800749036000486009005020...          48
996  0000030000067000593082107000306900020000528004...          49
997  0700002000306900050043081090069028500150400070...          49
998  0060018503200070000000400035009081004070006900...          49

[344 rows x 2 columns]

In [17]:
len(puzzle)

1000